layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="rust" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane edit="src/main.rs" size="65%" {
                name "code"
                }
            pane split_direction="horizontal" {
                cargo { args "check"; }
                cargo { args "run"; }
                cargo { args "test"; }
            }
        }

        floating_panes {
            pane command="lazygit" {
                x "20%"
                y "20%"
                width "60%"
            }
        }
    }

    pane_template name="cargo" {
        command "cargo"
        start_suspended true
    }

}
